
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    body{
        background-color: #FFBCD1;
        height: 100vh;
    }
    .modalcontainer{
        background-color: #CE7BB0;
        display: flex;
        margin-left: 23%;
        margin-top: 20%;
        justify-content: center;
        text-align: center;
        box-shadow: 2px 2px 2px #333;
        width: 50%;
        padding: 30px;
        display: none;

        
    }
    #open,#close{
        padding: 15px;
        border-radius: 4px;
        border-style: none;

    }
    #open:hover{background-color: #B983FF; }
    #close:hover{background-color:red; }

